# Backend
backend/build/
backend/.gradle/
backend/out/
backend/*.iml
backend/.idea/

# Frontend
fronend/node_modules/
fronend/dist/
fronend/.vite/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
